{% extends "base.html" %}
{% block title %}
Create Recipe
{% endblock %}
{% block content %}
<form method="POST" id="linkForm" name="linkForm">
  <div class="form-group">
    <h3>Link (Optional)</h3>
    <select class="custom-select">
      <option selected value="1">Website 1</option>
      <option value="2">Website 2</option>
      <option value="3">Website 3</option>
    </select>
    <label for="formGroupExampleInput">Link</label>
    <input type="text" class="form-control" id="websiteLink" name="websiteLink">
  </div>
  <button type="button" class="btn btn-primary">Submit Link</button>
</form>
<br/>
<br/>
<form method="POST" id="manualForm" name="manualForm">
    <div class="form-group">
      <label for="formGroupExampleInput">Recipe Name</label>
      <input type="text" class="form-control" id="recipeName" name="recipeName" placeholder="Chicken Pot Pie">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput">Cooking Time</label>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <input type="text" class="form-control" id="cookingTime" name="cookingTime" placeholder="5">
                <select class="custom-select" name="unit" id="unit">
                    <option value="1">secs</option>
                    <option value="2">mins</option>
                    <option value="3">hrs</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput">Ingredients</label>
      <input type="text" class="form-control" id="ingredient" name="ingredient" placeholder="Walmart Chicken Pot Pie">
  </div>
    <div class="form-group">
        <label for="formGroupExampleInput">Description</label>
        <input type="text" class="form-control" id="description" name="description"placeholder="It is a delicious Chicken Pot Pie">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput">Directions</label>
        <input type="text" class="form-control" id="direction" name="direction" placeholder="Buy from Walmart and microwave">
    </div>
    <button class="btn btn-primary" href="{{ url_for('views.create') }}" role="button" id="submitRecipe" name="submitRecipe"> Submit Recipe</button>
    <a class="btn btn-primary" href="{{ url_for('views.dashboard') }}" role="button" id="cancel" name="cancel">Cancel</a>
  </form>

{% endblock %}
